{% extends 'base.html' %}

{% block content %}
    <p>{{ movies|length }} Titles</p>
    <ul class="movie-list">
        {% for movie in movies %} {# 迭代 movies 变量 #}
            <li>{{ movie.title }} - {{ movie.year }}
                <span class="fr">
                    <a href="https://www.imdb.com/find?q={{ movie.title }}" target="_blank" class="imdb"
                       title="Find this movie on IMDB">IMDB</a>
                </span>
            </li> {# 等同于movie['title'] #}
        {% endfor %}
    </ul>
    <img alt="Walking" class="totoro" src="{{ url_for('static', filename='images/totoro.gif') }}">
{% endblock %}